In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df1=pd.read_csv("Bhagwad_Gita.csv")

In [ ]:
df1.describe()

          Chapter       Verse
count  695.000000  695.000000
mean     9.014388   23.290647
std      5.606431   16.739971
min      1.000000    1.000000
25%      4.000000   10.000000
50%      9.000000   20.000000
75%     14.000000   32.000000
max     18.000000   78.000000

In [ ]:
# df=pd.read_csv('/content/Shloks_EN.csv')
# df

#TF-IDF Vectorizer

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer()

In [ ]:
# vecs = vectorizer.fit_transform(df["Shloks"])

In [ ]:
import nltk
nltk.download('punkt')
from nltk.tokenize import word_tokenize
import warnings
import re
from gensim.parsing.preprocessing import STOPWORDS
from nltk.stem import PorterStemmer

# data = pd.read_csv('BBC News Train.csv')

def spl_chars_removal(lst):
    lst1=list()
    for element in lst:
        str=""
        str = re.sub("[^0-9a-zA-Z]"," ",element)
        lst1.append(str)
    return lst1

def stopwords_removal(lst):
    lst1=list()
    for str in lst:
        text_tokens = word_tokenize(str)
        tokens_without_sw = [word for word in text_tokens if not word in STOPWORDS]
        str_t = " ".join(tokens_without_sw)
        lst1.append(str_t)

    return lst1

ps = PorterStemmer()

corpus = []
for shlok in df1['EngMeaning']:
  # Tokenization
  words = word_tokenize(shlok)

  # spl chars removal
  words = spl_chars_removal(words)

  # stopwords removal
  words = stopwords_removal(words)

  # stemming
  final_lst = []
  for word in words:
      final_lst.append(ps.stem(word))

  corpus.append(' '.join(final_lst))

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

In [ ]:
vecs = vectorizer.fit_transform(corpus)

In [ ]:
vecs

<695x1833 sparse matrix of type '<class 'numpy.float64'>'
	with 9339 stored elements in Compressed Sparse Row format>

In [ ]:
vecs.shape

(695, 1833)

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
def topFive(query,queryLanguage):
  query=query.lower()
  queryLanguage= queryLanguage.lower()
  q=vectorizer.transform([query])
  arr=[]
  for i in range (0,vecs.shape[0]):
    sim = cosine_similarity(q,vecs[i])
    temp= [i,sim[0][0]]
    arr.append(temp)
  arr=sorted(arr,key=lambda x:x[1])
  arr=arr[::-1]
  for i in range (0,5):
    # print(i)
    # print(df1['EngMeaning'][arr[i][0]])
    # print()
    if(queryLanguage=='hindi'):
      print(df1['HinMeaning'][arr[i][0]])
      print()
    elif (queryLanguage=='english'):
      print(df1['EngMeaning'][arr[i][0]])
    elif (queryLanguage=='sanskrit'):
     print(df1['Shloka'][arr[i][0]])

In [ ]:
topFive('karm and dharm','Sanskrit')

यच्चापि सर्वभूतानां बीजं तदहमर्जुन |
न तदस्ति विना यत्स्यान्मया भूतं चराचरम् ||१०-३९||
मां च योऽव्यभिचारेण भक्तियोगेन सेवते |
स गुणान्समतीत्यैतान्ब्रह्मभूयाय कल्पते ||१४-२६||
निमित्तानि च पश्यामि विपरीतानि केशव |
न च श्रेयोऽनुपश्यामि हत्वा स्वजनमाहवे ||१-३१||
सुखं त्विदानीं त्रिविधं शृणु मे भरतर्षभ |
अभ्यासाद्रमते यत्र दुःखान्तं च निगच्छति ||१८-३६||
अधियज्ञः कथं कोऽत्र देहेऽस्मिन्मधुसूदन |
प्रयाणकाले च कथं ज्ञेयोऽसि नियतात्मभिः ||८-२||

#Elastic Search

In [ ]:
# corpus=[]

# for x in df['Shloks']:
#     corpus.append(x)

In [ ]:
# len(corpus)

695

In [ ]:
# pip install rank-bm25

Collecting rank-bm25
  Downloading rank_bm25-0.2.2-py3-none-any.whl (8.6 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from rank-bm25) (1.22.4)
Installing collected packages: rank-bm25
Successfully installed rank-bm25-0.2.2

In [ ]:
# from rank_bm25 import *

In [ ]:
# !pip install flask-ngrok

Collecting flask-ngrok
  Downloading flask_ngrok-0.0.25-py3-none-any.whl (3.1 kB)
Requirement already satisfied: Flask>=0.8 in /usr/local/lib/python3.10/dist-packages (from flask-ngrok) (2.2.5)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from flask-ngrok) (2.27.1)
Requirement already satisfied: Werkzeug>=2.2.2 in /usr/local/lib/python3.10/dist-packages (from Flask>=0.8->flask-ngrok) (2.3.6)
Requirement already satisfied: Jinja2>=3.0 in /usr/local/lib/python3.10/dist-packages (from Flask>=0.8->flask-ngrok) (3.1.2)
Requirement already satisfied: itsdangerous>=2.0 in /usr/local/lib/python3.10/dist-packages (from Flask>=0.8->flask-ngrok) (2.1.2)
Requirement already satisfied: click>=8.0 in /usr/local/lib/python3.10/dist-packages (from Flask>=0.8->flask-ngrok) (8.1.6)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->flask-ngrok) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->flask-ngrok) (2023.7.22)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->flask-ngrok) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->flask-ngrok) (3.4)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from Jinja2>=3.0->Flask>=0.8->flask-ngrok) (2.1.3)
Installing collected packages: flask-ngrok
Successfully installed flask-ngrok-0.0.25

In [ ]:
# from flask import Flask
# from flask_ngrok import run_with_ngrok

In [ ]:
# app=Flask(__name__)
# run_with_ngrok(app)

# @app.route("/")
# def shlok_search(query,language, corpus, n, df):
#   tokenized_corpus = [doc.split(" ") for doc in corpus]
#   bm25 = BM25Okapi(tokenized_corpus)
#   tokenized_query = query.split(" ")
#   doc_scores = bm25.get_scores(tokenized_query)
#   # print(doc_scores)
#   ind = np.argpartition(doc_scores, -n)[-n:]
#   ind=ind[::-1]
#   if(language=='hindi'):
#     return df1['HinMeaning'][ind]
#   elif (language=='english'):
#     return df1['EngMeaning'][ind]
#   elif (language=='sanskrit'):
#     return df1['Shloka'][ind]


# Query_shloka = input("Enter your query for news search: ").lower()
# Query_language= input("Enter your preferred language: ").lower()
# n = 5
# print(f'Displaying top {n} articles \n')
# result = shlok_search(Query_shloka, Query_language, corpus, n, df)
# for ans in result:
#   print(ans)
#   print()

# app.run()

In [ ]:
# def shlok_search(query,language, corpus, n, df):
#   tokenized_corpus = [doc.split(" ") for doc in corpus]
#   bm25 = BM25Okapi(tokenized_corpus)
#   tokenized_query = query.split(" ")
#   doc_scores = bm25.get_scores(tokenized_query)
#   # print(doc_scores)
#   ind = np.argpartition(doc_scores, -n)[-n:]
#   ind=ind[::-1]
#   if(language=='hindi'):
#     return df1['HinMeaning'][ind]
#   elif (language=='english'):
#     return df1['EngMeaning'][ind]
#   elif (language=='sanskrit'):
#     return df1['Shloka'][ind]

In [ ]:
# Query_shloka = input("Enter your query for news search: ").lower()
# Query_language= input("Enter your preferred language: ").lower()
# n = 5
# print(f'Displaying top {n} articles \n')
# result = shlok_search(Query_shloka, Query_language, corpus, n, df)
# for ans in result:
#   print(ans)
#   print()

Enter your query for news search: something
Enter your preferred language: hindi
Displaying top 5 articles

NameError: ignored

In [ ]:
# import pickle

In [ ]:
# pickle.dump(vecs,'vecs_tf_idf')

In [ ]:
# pickle.dump(vecs,open('vecs_tf_idf.pkl','wb'))

In [ ]:
# pickle.dump(vectorizer,open('vectorizer.pkl','wb'))

In [ ]:
# with open("vecs_tf_idf.pkl","wb") as f:
#     pickle.dump(vecs, f)

In [ ]:
# with open("vectorizer.pkl","wb") as f:
#     pickle.dump(vectorizer, f)